section.minesweeper {
    height: 40rem;
}

.choose-level {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

    div.btn-group {
        margin-right: 1rem;
    }
}

.board {
    margin: 0 auto;
    font-size: 1.25rem;

    &.level-easy {
        width: calc(9 * 30px);
        height: calc(9 * 30px);
    }

    &.level-medium {
        width: calc(16 * 30px);
        height: calc(16 * 30px);
    }

    &.level-hard {
        width: calc(30 * 30px);
        height: calc(16 * 30px);
    }
}

.field {
    & > div {
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #888888;
        user-select: none;
    }

    .untouched {
        background: rgb(68, 68, 255);
        background: linear-gradient(
            135deg,
            rgba(68, 68, 255, 1) 0%,
            rgba(0, 221, 255, 1) 100%
        );
    }

    .revealed {
        background: rgba(221, 221, 221, 1);
        background: linear-gradient(
            135deg,
            rgba(170, 170, 170, 1) 0%,
            rgba(221, 221, 221, 1) 100%
        );
        font-weight: bold;

        &.has-mine {
            background: rgb(255, 0, 0);
            background: linear-gradient(
                135deg,
                rgba(204, 0, 0, 1) 0%,
                rgba(255, 0, 0, 1) 100%
            );
        }

        &.neighbor-count-0 {
            color: transparent;
        }

        &.neighbor-count-1 {
            color: blue;
        }

        &.neighbor-count-2 {
            color: green;
        }

        &.neighbor-count-3 {
            color: red;
        }

        &.neighbor-count-4 {
            color: blueviolet;
        }

        &.neighbor-count-5 {
            color: brown;
        }

        &.neighbor-count-6 {
            color: teal;
        }

        &.neighbor-count-7 {
            color: darkblue;
        }

        &.neighbor-count-8 {
            color: grey;
        }
    }
}
